body {
    font-size: 2em;
}

h2 {
    text-align: center;
}

table {
    margin: 0 auto;
    border-spacing: 10px;
    width: 90%;
}


tr {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #D6EEEE;
}

.row-pair:hover {
    background-color: #D6EEEE;
}

td {
    width: 50%;
}

.respuesta {
    opacity: 0;
}

.respuesta:hover {
    opacity: 1;
}

pre {
    font-family: "Times New Roman", courier, monospace;
    font-size: 1em;
}



