body {
    font-size: 2em;
}

h2 {
    text-align: center;
}

table {
    margin: 0 auto;
    border-spacing: 10px;
    width: 90%;
    table-layout: fixed; /* Hace que las celdas tengan un ancho uniforme */
    border-collapse: collapse;
}

th {
    position: sticky;
    top: 0;
    background-color: #f1f1f1; /* Color de fondo para el encabezado */
    z-index: 1; /* Asegura que el encabezado esté sobre otras filas */
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #D6EEEE;
}

.row-pair:hover {
    background-color: #D6EEEE;
}

td {
    text-align: center;
    white-space: normal;
    padding: 10px;
}

.conversion {
    opacity: 0;
}

.conversion:hover {
    opacity: 1;
}

pre {
    font-family: "Times New Roman", courier, monospace;
    font-size: 1em;
}
